<div class="row">
  <div class="bg-warning col-sm-8">
  <p> lorem lorem lorem </p>
  <p> lorem lorem lorem </p>
  <p> lorem lorem lorem </p>
  <p> lorem lorem lorem </p>
  <p> lorem lorem lorem </p>
  </div>
  <div class="bg-success col-sm-4">col-sm-4</div>
</div>
<div class="row">
  <div class="col-sm bg-primary">col-sm</div>
  <div class="col-sm bg-danger">col-sm</div>
  <div class="col-sm bg-secondary">col-sm</div>
</div>