<div class="container-fluid ">
<div class="row h-60">
  <div class="showcase-1 col-md-9"></div>
    <div class="showcase-2 col-md-3"></div>
</div>
<div class="row h-30">
  <div class="showcase-3 col-sm"></div>
  <div class="showcase-4 col-sm"></div>
  <div class="showcase-5 col-sm"></div>
</div>
  </div>