/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bulma';
@import 'bootstrap';
@import 'font-awesome';

.navbar-item,
.navbar-link {
  text-decoration: none;
}

.article-img {
  background:
    linear-gradient(55deg, rgba(0, 0, 0, 0.301) 30%, rgba(17, 8, 8, 0.6) 80%) no-repeat center center/cover;
}

.h-40 {
  height: 45vh;
}

.categories-container {
  height: 94vh;
}

.half {
  height: 50vh;
}

.bg-cover {
  object-fit: cover;
  // height: auto;
}

.w-25vw {
  width: 25vw;
}