<div class="container-fluid ">
<div class="row h-40">
  <% @categories.each_with_index do |cat,i| %>
          <div class="col-sm">
            <%=@category.name %>
            <%=cat.title %>
            <%= read_more(cat) %>
          </div>
          <div class="col-sm">
            <%= bottom_img(cat,i)%>
          </div>
  <% end %>
</div>